alias r="rails"
alias clj="rlwrap lein run -m clojure.main"
alias gcam="git commit -a -s -m"
alias scat="scat -l"
alias make='make -j`expr $(gnproc) + 1` -l$(gnproc)'
alias c='clear'
alias q='exit'
alias vimserv='NVIM_LISTEN_ADDRESS=127.0.0.1:7650 nvim'
alias ff='fzf'
alias vf='vim $(fzf)'
alias wine32='WINEARCH=win32 WINEPREFIX=~/.wine32 wine'
alias winetricks32='WINEARCH=win32 WINEPREFIX=~/.wine32 winetricks'
alias so='source'
alias reboot='sudo systemctl reboot'
alias shutdown='sudo systemctl poweroff'
alias sprUp="curl -F 'sprunge=<-' http://sprunge.us"
alias diff="/usr/bin/diff -rupN"
alias cmake='cm cmake'
alias ninja='cm ninja'

# Git
alias workdone="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --author=elken"
alias git='hub'
alias workflow="g add .;gca;gp"

alias cra='create-react-app'
alias _dnf='sudo dnf'
alias pacmir='_dnf update'
alias pacupg='_dnf upgrade'
alias pacin='_dnf install'
alias pacrem='_dnf remove'
