[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".zsh/prezto"]
	path = .zsh/prezto
	url = git://github.com/elken/prezto.git
[submodule "bin"]
	path = bin
	url = git://github.com/elken/bin.git
[submodule ".dwm"]
	path = .dwm
	url = git://github.com/elken/dwm.git
        branch = 6.1
[submodule ".st"]
	path = .st
	url = git://github.com/elken/st.git
[submodule ".zsh/powerline"]
	path = .zsh/powerline
	url = https://github.com/elken/powerline-shell
[submodule ".vim"]
	path = .vim
	url = git://github.com/elken/.vim.git
