[user]
	name = Ellis Kenyo
	email = elken@member.fsf.org
        singingkey = 2033FDF3
	signingkey = 2033FDF3
[commit]
	gpgsign = true
	template = /Users/ellis/.stCommitMsg
[push]
	default = simple
[github]
	user = elken
[core]
	editor = nvim
	excludefile = /home/elken/.gitignore
	filemode = false
	excludesfile = /Users/ellis/.gitignore_global
	autocrlf = input
[alias]
      pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[hub]
	protocol = ssh
[recieve]
        denyCurrentBranch = ignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[color "diff"]
	old = red dim
	new = green bold
[fetch]
	recurseSubmodules = false
[gpg]
	program = gpg
